<div class="container">
  <% @users.each do |users| %>
  <div class="user-profile-index-body">
      <div class="user-profile-index-left">
        <img src="<%= "/user_images/#{users.user_profile.image}"%>">
      </div>
      <div class="user-profile-index-right">
        <p><%= "#{users.user_profile.name}" %></p>
      </div>
  </div>
  <% end %>
</div>
