<div class="container">
  <div class="role_models-index-header">
    ロールモデル
  </div>
  <% @role_models.each do |role_model| %>
    <div class="role_models-index-items">
      <div class="role_models-left">
        画像
      </div>
      <div class="role_models-right">
        <%= role_model.title %>
      </div>
    </div>
  <% end %>
</div>
