<p>メールアドレス変更のお知らせ</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>次のメールアドレスに変更される事をお知らせします。 <%= @resource.unconfirmed_email %></p>
<% else %>
  <p>次のメールアドレスに変更された事をお知らせします。 <%= @resource.email %></p>
<% end %>
