<p>パスワードリセットの受付</p>

<p>パスワードリセットを受付ました。以下のリンクからパスワード変更を行って下さい。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワードリセットにお心当たりがない場合は、お手数をおかけしますがご連絡下さい。</p>
